/* your code here */
.content{
	display:flex;
	flex-wrap:wrap;
	height:350px;
	background-color:black;
	width:100%;
}
.link-boxes{
	text-align:space;
	justify-content:space-around;
	display:flex;
	gap:5px;
	color:white;

	}
a{
	text-decoration: none;
	color:white;
}
li{
	list-style-type:none;
}
h4{
	border-bottom-: px solid white;
}


	
